body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}
#main {
  position: relative;
  width: 100%;
  height: 100%;
}

#full {
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
}
#elem {
  width: 100%;
  height: 0;
  background-color: #2ecc71;
  position: absolute;
  bottom: 0;
}
#white {
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  background: white;
}

#white {
  background-color: #f2f2f2;
  display: flex;
  z-index: 1;
}
#home {
  width: 100%;
  position: fixed;
  height: 100%;
  /* padding: 20px; */
  margin: 3px;
  /* list-style: none; */
  text-decoration: none;
  display: none;
}
#nav {
  display: none;
  display: flex;
  justify-content: space-between;
}
#nav a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  padding: 3vw;
  color: #4f4d4d;
  font-weight: 300;
  margin-right: -10px;
}

/* #nav a .underLine1 {
  display: inline-block;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #000000;
  bottom: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#nav a:hover .underLine1 {
  width: 100%;
  /* display: inline-block;  */
/* height: 1px; */
/* background-color: #000000; */
/* bottom: 0; */

/* } */

.row {
  margin-top: -5%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #383838;
  padding: 10px;
  line-height: 1;
}
.row h1 {
  font-size: 12vw;
  font-weight: 100;
  color: #383838;
}
.row h5 {
  opacity: 0.5;
  font-weight: 100;
  line-height: 0;
}
.row .text {
  margin-top: 3vw;
}
.row1 {
  margin-top: -17%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #383838;
  padding: -3px;
}
.row1 h1 {
  font-size: 12vw;
  font-weight: 100;
  color: #383838;
}
.row1 .creative {
  align-items: center;
  margin: 0 -7vw;
  font-family: mazius;
  color: #1db954;
  text-align: center;
  font-size: 6rem;
  gap: -10%;
}
.drop-down {
  font-size: 1.5rem;
  font-weight: 100;
  color: #383838;
  background: #d9d9d9;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#row1 i {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
#cards_image{
  width: 100%;
  padding: 0 , 7vw;
  font-size: large;
}
